/* goggle font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
  --main-clr: #3c4564;
  --sub-clr: #ef82f4;
  --pink-clr: #df96bf;
  --white-clr: #ffffff;
  --gray-clr: #e7e5e4;
  --mint-clr: #c5eee5;
  --shadow: 0px 2px 3px rgb(175 175 175);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
}
img,
svg {
  display: block;
}
button {
  background-color: var(--main-clr);
  border-radius: 15px;
  padding: 0.4rem 1.5rem;
  cursor: pointer;
  border-color: transparent;
  color: var(--white-clr);
  font-weight: 700;
}

/* sidebar */
.sidebar {
  background: var(--main-clr);
  flex: 1;
  color: var(--white-clr);
}
/* 23.02.24 */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0.8rem;
}
.logo {
  fill: var(--white-clr);
  height: 2.5rem;
}
.logo-name {
  margin-left: 10px;
  font-size: 1.3rem;
}
.menu-container {
  margin-top: 1.7rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0.5rem 1.3rem;
  transition: all 0.2s;
}
.menu:hover {
  transform: scale(1.1);
  background: var(--white-clr);
  color: var(--main-clr);
}

.menu-icon {
  fill: var(--white-clr);
  height: 1.5rem;
}
.menu-name {
  font-size: 1rem;
  margin-left: 10px;
}

/* main */
.main {
  background: var(--white-clr);
  flex: 5;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.header {
  background: var(--white-clr);
  box-shadow: var(--shadow);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-top {
  display: flex;
  align-items: center;
}
label[for='search-box'] {
  margin-right: 8px;
}
input[id='search-box'] {
  margin-right: auto;
  background-color: var(--mint-clr);
  border-color: transparent;
  border-radius: 10px;
  width: 60%;
  height: 1.5rem;
  padding: 0 0.4rem;
}
.main-icon {
  height: 1.3rem;
}
.user-icon.small {
  height: 2rem;
  margin: 0 15px;
}
.user-name {
  font-weight: 700;
}
.user-name.small {
  font-size: 1rem;
}

/* header bottom */
.header-bottom {
  display: flex;
  align-items: center;
}
/* user-profile */
.user-profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1.5fr;
  margin-right: auto;
  column-gap: 0.5rem;
}
.user-icon.big {
  height: 3rem;
  grid-row: 1 / -1;
}
.profile-intro {
  font-size: 0.8rem;
  align-self: end;
}
.user-name.big {
  font-size: 1.3rem;
}
.btn {
  margin-right: 1.3rem;
}

/* content */
.content {
  background: var(--gray-clr);
}
